* {
  user-select: none;
}

html, body {
  overflow: hidden;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

body {
  position: relative;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0;
  padding: 0;
  background-color: white;
}

#searchField {
	width: calc(100% - 8px);
	margin: 10px 0;
	font-size: 22pt;
}

header {
  background-color: #aaa;
  border-radius: 5px;
}

main {
  position: absolute;
  top: 110px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  display: grid;
  grid: "filter filter" auto
        "songs playlist" 1fr
        / 2fr 1fr;
  grid-gap: 5px;
}

main > form {
  grid-area: filter;
  margin: 10px;
  display: flex;
}

main > form .search {
  flex-grow: 1;
}

main > form select {
  flex-shrink: 0;
  flex-grow: 0;
}

article.results {
  grid-area: songs;
  background-color: #eee;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
article.results > .song-row {
  display: grid;
  grid: ". title artist year language duration" 1fr
        / 5px 2fr 1fr 50px 75px 60px;
  cursor: pointer;
}
article.results > .song-row:nth-child(even) {
  background-color: #ccc;
}
article.results > .song-row:hover {
  background-color: #aaa;
}
article.results > .song-row > div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
article.results > .song-row > .title {
  grid-area: title;
}
article.results > .song-row > .artist {
  grid-area: artist;
}
article.results > .song-row > .year {
  grid-area: year;
}
article.results > .song-row > .language {
  grid-area: language;
}
article.results > .song-row > .duration {
  grid-area: duration;
}

article.playlist {
  grid-area: playlist;
  background-color: #efe;
  overflow-y: auto;
}
article.panel > .playlist-row {
  padding: 0 5px;
}
article.playlist > .playlist-row, article.panel > .playlist-row {
  display: grid;
  grid: "title singer wait" 1fr
        / 2fr 1fr 75px;
}
article.playlist > .playlist-row:nth-child(even), article.panel > .playlist-row:nth-child(even) {
  background-color: #ded;
}
article.playlist > .playlist-row > div, article.panel > .playlist-row > div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
article.playlist > .playlist-row > .title, article.panel > .playlist-row > .title {
  grid-area: title;
}
article.playlist > .playlist-row > .singer, article.panel > .playlist-row > .singer {
  grid-area: singer;
}
article.playlist > .playlist-row > .wait, article.panel > .playlist-row > .wait {
  grid-area: wait;
}

.playing {
	padding: 0 5px;
	margin: 5px;
	font-size: 18pt;
}

.playing label {
	font-weight: bold;
}

.content .results {
	display: inline-block;
	min-width: 450px;
}
.content .playlist {
	display: inline-block;
	width: 365px;
	margin-top: 10px;
}
.content .panel {
	position: absolute;
	display: block;
	top: 130px;
	left: 15px;
	right: 15px;
	bottom: 0;
}

@media (max-width: 860px) {
  main {
    display: grid;
    grid: "filter" auto
          "songs" 1fr
          / 1fr;
    grid-gap: 0;
  }
  article.playlist {
    display: none;
  }
  article.results > .song-row {
    display: grid;
    grid: ". title artist language duration" 1fr
          / 5px 2fr 1fr 75px 60px;
    cursor: pointer;
  }
  article.results > .song-row > .year {
    display: none;
  }
}

.reached-infinity {
  color: grey;
  font-style: italic;
  text-align: center;
}
